# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IDE folders
.idea

# Folder with data
data
#pkl data files
*.pkl
*.npy
*.npz
*.obj
# asstes for running the repo
asstes/*
smpl_assets
# all images and videos
*.png
*.jpg
*.jpeg
*.mp4
